<div class="article-container container">
  <div class="article-header-container col-xs-12"style="background: linear-gradient(rgba(<%= @hue %>, 0, 0, 0.45), rgba(<%= @hue %>, 0, 0, 0.45)), url(<%= @article.rectangular_image%>);background-repeat: no-repeat;background-size: 100% 100%;height: 400px;postion:relative">
    <div class="article-artist-header">
      <h1><%= @article.artist %></h1>
      <br>
      <br>
      <br>
      <h5><%= @article.blurb %></h5> 
    </div>    
  </div>
  <div class="article-content">
    <% counter = 0 %>
    <% @article_content_array.each do |article_segment| %>
        <% if @article_content_array[counter] != nil %>
          <div class="row">
            <% if counter == 0 || counter % 4 == 0 %>
              <div class="col-sm-6 article-text-container">
                <% if @article_content_array[counter + 1] != nil %>
                  <% next_content = @article_content_array[counter + 1] %>
                <% else %>
                  <% next_content = "" %>
                <% end %>
                <%= simple_format(@article_content_array[counter] + next_content)%>
              </div>
              <div class="col-sm-6 artice-small-image-container">
                <%= image_tag(@article.main_image) %>
              </div>
            <% else %>
              <div class="col-sm-6 artice-small-image-container">
                <%= image_tag(@article.main_image) %>
              </div>
              <div class="col-sm-6 article-text-container">
                <% if @article_content_array[counter + 1] != nil %>
                  <% next_content = @article_content_array[counter + 1] %>
                <% else %>
                  <% next_content = "" %>
                <% end %>
                <%= simple_format(@article_content_array[counter] + next_content)%>
              </div>
            <% end %>
            <% counter = counter + 2 %>
          </div>
        <% end %>
    <% end %>
  </div>
  <div class="social-container">
    <div class="social-icons">
      <div class="col-sm-3">
        <div class="social-image">
          <%= link_to image_tag("facebook.png"), @article.facebook_uul != nil ? @article.facebook_uul : "http://facebook.com" %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="social-image">
          <%= link_to image_tag("insta.png"), @article.insta_url != nil ? @article.insta_url : "http://instagram.com" %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="social-image">
          <%= link_to image_tag("twitter.png"), @article.twitter_url != nil ? @article.twitter_url : "http://twitter.com" %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="social-image">
          <%= link_to image_tag("soundcloud.png"), @article.soundcloud_url != nil ? @article.soundcloud_url : "http://soundcloud.com" %>
        </div>
      </div>
    </div>  
    <iframe id="video" src="<%=@article.video_link %>" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
