<div class="article-container container">
  <div class="article-header-container col-xs-12" 
       style="background: linear-gradient(
      rgba(<%= @hue %>, 0, 0, 0.45), 
      rgba(<%= @hue %>, 0, 0, 0.45)
    ), url(<%= @article.rectangular_image%>);     
              background-repeat: no-repeat;
              background-size: 100% 100%;
              height: 400px;
              postion:relative">
    <div class="article-artist-header">
      <h1><%= @article.artist %></h1>
      <br>
      <br>
      <br>
      <h5><%= @article.blurb %></h5> 
    </div>
    
  </div>
</div>
