<div class="article-show-container">
  <div class="article-header-static">
    <div class="article-intro-large-header" style="background: url(<%= @article.image_one %>); background-size: 100%;">
    </div>
    <div class="article-intro-large-header-coloring">
    </div>
    <div class="article-header-with-content">
      <div class="article-header-title">
        <p><%= @article.title %></p>
      </div>
      <div class="further-article-info">
        <div class="article-header-subtitle">
          <p><%= @article.subtitle %></p>
        </div>
        <div class="article-header-artist">
          <p><%= @article.artist %></p>
        </div>
      </div>
      <div class="article-header-image"> 
      </div>
      <button class="scroll-to-content"></button>
    </div>
  </div>
  <div id="article-content"> 
    <div class="col-md-6 col-lg-6 article-text-first">
      <p><%= @article.content%></p>
    </div>
    <div class="col-md-6 col-lg-6 article-image-first">
      <p><%= @article.content%></p>
    </div>
  </div>
</div>

