<div class="home-container">
  <div class="latest_article"> 
    <div class="latest-article-images">
      <div class="latest-article-image" id="<%= @latest_article.image_one %>">
        <div class="header-article-info">
          <p class="header-artist-link-text"> <%= @latest_article.artist.upcase %></p> 
          <div class="article-summary">
            <p> this is the latest article brief summary</p>
          </div>
          <!-- <div class="article-category">
            <p><%= @latest_article.category %></p>
          </div> -->
        </div>
      </div>

    </div>
  </div>
  <div class="article-show-all">
    <% @article_hash.each do |key, value| %>
      <% value.each_with_index do |(k,article),index| %>
        <% if (k % 6) != 0 && ((k-1) % 6) != 0 %>
          <div class="<%= article.id %> article-show <%=article.artist %> article-show-small">
            <div class="image" id="<%= article.image_one %>">
              <div class="article-info">
                <div class="article-artist-name">
                  <% article.artist.split(" ").each do |word| %>
                    <p class="artist-link-text"> <%= word %></p> 
                  <% end %> 
                </div>
                <div class="indiv-article-summary hidden ">
                  <p> this is the latest article brief summary</p>
                </div> 
              </div>
            </div>
          </div>

          <% if index + 1 == 5 %>
            <% if Article.all.length >= k+1 %>
              <div class="article-full-width-separator">
                <div class="<%= article.id %> article-show article-show-right-stretch  <%=article.artist %> article-show-large">
                  <div class="image image-mid-feature" id="<%= article.image_one %>">
                    <div class="article-info">
                      <div class="article-artist-name">
                        <% Article.find(k+1).artist.split(" ").each do |word| %>
                          <p class="artist-link-text"> <%= word%></p> 
                        <% end %> 
                      </div>
                      <div class="indiv-article-summary hidden ">
                        <p> this is the latest article brief summary</p>
                      </div> 
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>


  <div class="article-show-right-container">

    <% @article_hash.each do |key, value| %>
      <% value.each do |k, article| %>
        <% if ((k-1) % 6) == 0 %>
          <div class="article-show-right-indiv-article">
            <div class="<%= article.id %>  article-show article-show-right-stretch <%=article.artist %>">
              <div class="image image-height-override-hundred" id="<%= article.image_one %>">
                <div class="article-info">
                  <div class="article-artist-name">
                    <% article.artist.split(" ").each do |word| %>
                      <p class="artist-link-text"> <%= word %></p> 
                    <% end %> 
                  </div>
                  <div class="indiv-article-summary hidden ">
                    <p> this is the latest article brief summary</p>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        <% end%>
      <% end%>
    <% end%>
  </div>

</div>

