<div class="home-container">
  <div class="latest_article"> 
    <div class="latest-article-images">
      <div class="latest-article-image" id="<%= @feature_article.rectangular_image %>" data-id="<%= @feature_article.slug %>">
        <div class="header-article-info">
          <p class="header-artist-link-text"> <%= @feature_article.artist.upcase %></p> 
          <p class="article-summary-text"> <%= @feature_article.subtitle %></p>
        </div>
      </div>

    </div>
  </div>

  <div class="container-fluid desktop-container">
    <div class="article-show-all"> 
      <% @article_hash.each do |key, value| %>
        <div class="row">
          <div class="col-xs-8 article-show-left-container">
            <% value[0..3].each do |article| %>
              <% if article %>
                <div class="<%= article.slug %> article-show <%=article.artist %> article-show-small">
                  <div class="image grow" id="<%= article.main_image %>">
                    <div class="article-info hidden">
                      <div class="indiv-article-artist ">
                        <p> <%= article.artist.upcase %></p>
                      </div> 
                      <div class="indiv-article-subtitle">
                        <p> <%= article.subtitle %></p>
                      </div> 
                      <div class="indiv-article-subtitle">
                        <p class="art-category"> <%= article.category %></p>
                      </div> 
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <% if value[4] %>
            <div class="article-show-right-container col-xs-4">
              <div class="article-show-right-indiv-article">
                <div class="<%= value[4].slug %>  article-show article-show-right-stretch float-right-article <%= value[4].artist %>">
                  <div class="image grow image-height-override-hundred" id="<%= value[4].main_image %>">
                    <div class="article-info hidden">
                      <div class="indiv-article-artist ">
                        <p> <%= value[4].artist.upcase %></p>
                      </div> 
                      <div class="indiv-article-subtitle">
                        <p> <%= value[4].subtitle %></p>
                      </div> 
                      <div class="indiv-article-subtitle">
                        <p class="art-category"> <%= value[4].category %></p>
                      </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <% if value[5] %>
            <div class="article-full-width-separator col-xs-12">
              <div class="<%= value[5].slug %> article-show article-show-right-stretch  <%=value[5].artist %> article-show-large">
                <div class="image grow image-mid-feature" id="<%= value[5].main_image %>">
                  <div class="article-info-large">
                    <div class="third"></div>
                    <div class="third">
                      <div class="indiv-article-artist half">
                        <p> <%= value[5].artist.upcase %></p>
                      </div> 
                      <div class="indiv-article-subtitle half">
                        <p> <%= value[5].subtitle %></p>
                      </div> 
                    </div>
                    <div class="third"></div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="article-show-all mobile-container full-width">
    <% @mobile_articles_hash.each do |key, value| %>
      <% value.each_with_index do |(k,article),index| %>
        <% if ((index + 1) % 5 == 0) && index != 0 %>
          <div class="full-width-100">
            <div class="<%= article.slug %> article-show article-show-right-stretch  <%=article.artist %> article-show-large">
              <div class="image grow image-mid-feature" id="<%= article.rectangular_image %>">

                <div class="article-info-large">
                  <div class="fifty-height">
                    <p> <%= article.artist.upcase %></p>    
                  </div>
                  <div class="sixty-height">
                    <p> <%= article.subtitle %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="<%= article.slug %> article-show <%=article.artist %> half-width">
            <div class="image grow" id="<%= article.main_image %>">
              <div class="article-info">

                <div class="indiv-article-artist ">
                  <p> <%= article.artist.upcase %></p>
                </div> 
                <div class="indiv-article-subtitle">
                  <p> <%= article.subtitle %></p>
                </div> 
              </div>
            </div>
          </div>
        <% end %>        
      <% end %>
    <% end %>
  </div>
</div>

