<div class="home-container">
  <div class="latest_article"> 
    <div class="latest-article-images">
      <div class="latest-article-image">
        <%= image_tag(@latest_article.image_one, :class => "header-image #{@latest_article.id}") %>
      </div>
      <div class="latest-article-image">
        <%= image_tag(@second_latest_article.image_one, :class => "header-image #{@second_latest_article.id}") %>
      </div>
    </div>
  </div>
  <div class="article-show-all">
    <% @articles.each do |article| %>
      <div class="article-show <%= article.id %>">
        <div class="image" id="<%= article.image_one %>">
          <!-- <%= image_tag(article.image_one) %> -->
          <div class="article-info">
            <% article.artist.split(" ").each do |word| %>
              <p class="artist-link-text"> <%= link_to(word, article_path(article)) %></p> 
            <% end %>  
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
