<!DOCTYPE html>
<html>
<head>
  <title>LukeMusicWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.js"></script>
</head>
<body>
  <div class="header">
    <div class="col-xs-12 header-container">
      <div class="col-xs-5 col-md-4">
        <%= link_to(image_tag('logo3.png'), root_path) %> 
      </div>
      <div class="col-xs-1 col-md-4">
        <h5 class="top-margin">BEARD | WIVES | DENIM</h5>
      </div>
      <div class="col-xs-6 col-md-4">
        <div class="col-xs-1 col-md-6"></div>
        <div class="col-xs-11 col-md-6 top-margin social-top-link">
          <i class="fa fa-facebook col-xs-4" aria-hidden="true"></i>
          <i class="fa fa-instagram col-xs-4" aria-hidden="true"></i>
          <i class="fa fa-twitter col-xs-4" aria-hidden="true"></i>          
        </div>
      </div> 
    </div>
  </div>
  <div class="wrapper">
    <%= yield %>
  </div>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.js"></script>
</body>
</html>
